<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZCWelder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <clear />
        <add name="ZCWelder.Properties.Settings.zwjConn" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=ZCWelder;Integrated Security=True;Min Pool Size=1"
            providerName="System.Data.SqlClient" />
        <add name="ZCWelder.Properties.Settings.zwjConnhdhr" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=hdhr;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ZCWelder.Properties.Settings>
            <setting name="Corrector" serializeAs="String">
                <value>王欢</value>
            </setting>
            <setting name="Assessor" serializeAs="String">
                <value />
            </setting>
            <setting name="Rehear" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="Lister" serializeAs="String">
                <value>傅玉华</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>沪东中华造船（集团）有限公司</value>
            </setting>
            <setting name="AppRole" serializeAs="String">
                <value />
            </setting>
            <setting name="AppRolePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FormFont" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="FormBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxDoubleClickColor" serializeAs="String">
                <value />
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value />
            </setting>
            <setting name="DataGridViewBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="DataGridViewAlternatingBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TheoryTeacherID" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchiveTeacherID" serializeAs="String">
                <value />
            </setting>
            <setting name="IssueQCTeacherID" serializeAs="String">
                <value />
            </setting>
            <setting name="SupervisorID" serializeAs="String">
                <value />
            </setting>
            <setting name="SkillTeacherID" serializeAs="String">
                <value />
            </setting>
            <setting name="OriginalPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IssuedOn" serializeAs="String">
                <value>2011-02-15</value>
            </setting>
            <setting name="splitContainerHeadBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="splitContainerHeadForeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CCSTestCommitteeID" serializeAs="String">
                <value>SH11</value>
            </setting>
            <setting name="CCSTestCommittee" serializeAs="String">
                <value>沪东中华造船（集团）焊工考试委员会</value>
            </setting>
            <setting name="WebServiceStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinkTel" serializeAs="String">
                <value>021-58713222-3706</value>
            </setting>
            <setting name="PeriodofProlongation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MailEmployerAddress" serializeAs="String">
                <value>浦东大道2851号</value>
            </setting>
            <setting name="MailEmployer" serializeAs="String">
                <value>沪东中华造船（集团）有限公司</value>
            </setting>
            <setting name="MailEmployerPostalcode" serializeAs="String">
                <value>200129</value>
            </setting>
            <setting name="江南造船焊工信息管理软件_ZCWelderPicture_WelderPicture" serializeAs="String">
                <value>http://10.30.1.4/HPWelderPictures/WelderPicture.asmx</value>
            </setting>
            <setting name="WPSLockedColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="notSupervisionColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PlaceofTest" serializeAs="String">
                <value>沪东中华</value>
            </setting>
            <setting name="SupervisionPlace" serializeAs="String">
                <value>沪东中华</value>
            </setting>
        </ZCWelder.Properties.Settings>
    </userSettings>
</configuration>